@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

/* -------------
BODY LAYOUT
--------------*/
header {
  display: block;
  margin-bottom: 2em;
}

#results,
#lou-comparison {
  display: inline-block;
  border: 5px solid lightseagreen;
  padding: 1em;
  margin: 0 1em 2em 0;
  border-radius: 10px;
}

h2 {
  margin: .25em 0 .5em;
}

/* -------------
FONTS
--------------*/
body {
  font-family: Ubuntu, Dosis, sans-serif;
}

.legend {
  font-style: italic;
}

.label {
  font-weight: bold;
  display: inline;
}

.output {
  font-weight: bold;
  color: slateblue;
}