/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu|Dosis&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

/* -------------
BODY LAYOUT
--------------*/
header {
  display: block;
}

#results,
#lou-comparison {
  display: inline-block;
  border: 5px solid lightseagreen;
  padding: 1em;
  border-radius: 5%;
}

/* -------------
FONTS
--------------*/
body {
  font-family: Ubuntu, Dosis, sans-serif;
}

.legend {
  font-style: italic;
}

.pollutant {
  font-weight: bold;
}